<div class="container " >

<div class="major__body">
    <div class="outside__body">

        <h2 class="header__body"> About Me </h2>

        <div class="info__body">
    
            <div class="content1__body">
    
                
                    <h3 class="bullet__body">  Location </h3>

                <ul class="spacing">

                    <li class="description__body space li__body2">
        
                       East lansing, Michigan.
        
                    </li>    

                </ul>
           
                
                    <h3 class="bullet__body">  Career Goals </h3>
                 <ul class="spacing">
                    <li class="description__body li__body2 space "> 
        
                         I'm focused on growing in tech, especially <strong class="green">software engineering</strong>. I’m passionate about solving real problems, improving user experiences, and contributing to impactful projects. 
                    
                    </li>
                </ul>

            </div>
        
        
            <div class="content2__body">

                
                    <h3 class="bullet__body">  Education </h3>
                  <ul class="spacing">
                         <li class="description__body li__body2">
                             Completed an associate's degree in <strong class="green"> Computer Science </strong> from Lansing Community College.
                             <br> <i> [Graduated fall 2024] </i> 
                          </li> 
                           <li class="description__body li__body2 space">
                             Pursuing a <strong class="green">bachelor’s degree in Data Science</strong> and a minor in Business at Michigan State University <br>
                              <i>[Graduating fall 2027]</i>
                           </li> 

                      </ul>
                    
        
        
                   <h3 class="bullet__body">  Resume </h3>
                 <ul class="spacing">
                      <li class="description__body li__body2 space"> 
                        Below you can find the full PDF version of  <a href="assets/Evan_Wood_Resume_updated.pdf" target="_blank"> <strong class="green">  My Resume </strong></a>.
                              </li>

                  </ul>


        
            </div>
        
    
        </div>
     

    </div>

    <div class="content3__body">
        <h3 class="con3__body"> CSE Skills   </h3>

        <div class="flexing">

            <div class="margin">
                <h3 class="subhead3__body"> Languages </h3>
             
               <ul class="spacing">
                
                <li class="li__body" > C++  </li>
                <li class="li__body" >Python </li>
                <li class="li__body" >Java</li>
                <li class="li__body" > HTML,CSS </li>
                <li class="li__body" > JavaScript, TypeScript </li>
                <li class="li__body" >R</li>



               </ul>
               
            </div>
           
            <div>   
                <h3 class=" subhead3__body"> Frameworks</h3>
                <ul class="spacing">
                    <li class="li__body " > Angular </li>
                    <li class="li__body " > React Native </li>
                    <li class="li__body " > Spring Boot </li>
                </ul>   
               
            </div>

            <div>   
                <h3 class=" subhead3__body"> Cloud Services</h3>
                <ul class="spacing">
                    <li class="li__body " > Amazon Web Services</li>
                    <li class="li__body " > Microsoft Azure</li>

                </ul>   
               
            </div>


        </div>
       
       

    </div>

</div>
   


    

</div>
