<div class="container " >

<div class="major__body">
    <div class="outside__body">

        <h2 class="header__body"> About Me </h2>

        <div class="info__body">
    
            <div class="content1__body">
    
                
                    <h3 class="bullet__body">  Location </h3>

                <ul class="spacing">

                    <li class="description__body space li__body2">
        
                       East lansing, Michigan.
        
                    </li>    

                </ul>
           
                
                    <h3 class="bullet__body">  Career Goals </h3>
                 <ul class="spacing">
                    <li class="description__body li__body2 space "> 
        
                        My career goals focus on growing in the tech field, especially in <strong class="green">software engineering</strong>. I’m passionate about building solutions that solve real problems and improving how people use technology. I aim to develop my skills, work on meaningful projects, and contribute to advancements in this field.
                    
                    </li>
                </ul>

                
        
            </div>
        
        
            <div class="content2__body">

                
                    <h3 class="bullet__body">  Education </h3>
                  <ul class="spacing">
                         <li class="description__body li__body2">
                            Completed an <strong class="green"> Associets in computer science </strong> from Lansing Commuity College. 
                          </li> 
                           <li class="description__body li__body2 space">
                             Pursuing a  <strong class="green"> bachlors of data science </strong>and minor in business at Michigan State university [graduating spring, 2026].
                           </li> 

                      </ul>
                    
        
        
                   <h3 class="bullet__body">  Resume </h3>
                 <ul class="spacing">
                      <li class="description__body li__body2 space"> 
                        Below you can find the full PDF version of  <a href="assets/Evan_Wood_Resume.docx.pdf" target="_blank"> <strong class="green">  My Resume </strong></a>.
                              </li>

                  </ul>


        
            </div>
        
    
        </div>
     

    </div>

    <div class="content3__body">
        <h3 class="con3__body"> CSE Skills   </h3>

        <div class="flexing">

            <div>
                <h3 class="subhead3__body"> Languages </h3>
             
               <ul class="spacing">
                
                <li class="li__body" > C++ (Experienced) </li>
    
                <li class="li__body" > HTML,CSS (Experienced)</li>
                <li class="li__body" > JavaScript (Intermediate) </li>
        
                <li class="li__body" >Python (Beginner)</li>

               </ul>
               
            </div>
           
            <div>   
                <h3 class=" subhead3__body"> Frameworks</h3>
                <ul class="spacing">
                    <li class="li__body " > Angular (Experienced)</li>
                </ul>   
               
            </div>


        </div>
       
       

    </div>

</div>
   


    

</div>
