
<div onclick="setActiveTab(event)" class="container " >
   <div class="wrapper__header">
      <div class="front__header">
       
         <a  class="home nav-link" routerLink="/Home" > <i class="fa-solid fa-house"></i> Home</a>
      </div>
  
      <div class="back__header">
          <a  class="work nav-link" routerLink="/Work" > <i class="fa-solid fa-business-time"></i>work</a>
          <a class="projects nav-link" routerLink="/Projects"> <i class="fa-solid fa-box-open"></i> projects </a>
          <a class="projects nav-link" routerLink="/Cloud"> <i class="fa-solid fa-cloud"></i> Cloud </a>
          <a class=" line ">  </a>
         
          <button onclick="darkmode()" ><i class="sun fa-regular fa-sun"> Light Mode </i><i class="moon fa-solid fa-moon"> Dark Mode </i></button>
          
       </div>
      
   </div>

   

</div>

