
<div class="container "  >
    
    <div class="wrapper__hero">


        <img class="msu" src="M.png" alt="">
        <span class="bkg">  </span>
       



        <div class="title__hero">
            <h3 class="sub__hero1"> Hello, I'm </h3>
            <h1 class="sub__hero2"> Evan Wood</h1>
            <p class="description__hero">  Data Science | Computer Science | Entreprenuer  </p>    
            
        </div>
    
        <div class="flex-content__hero">

            <div class="content__hero">
                <img  class="img__hero" src="aaaa.JPG" >
              
            </div>
    
            <ul class="info__hero">
                <li> <strong class="black"> Email:  </strong>   woodeva1&#64;msu.edu    </li>
               
                <li> <strong class="black"> Phone: </strong>  517-974-3600 </li>
               
                <li> <strong class="black"> Linked In:  </strong>  <a target="blank" href="https://www.linkedin.com/in/evan-wood-b881b9253/"> Evan Wood</a> </li>
            </ul>
           


        </div>
       
        <span class="block">   </span>

    </div>




</div>
