<div class="container">
  <div class="wrapper__body1">
    <h1 class="AI">Mobile App Development</h1>

    <h1 class="header">To-Do List</h1>
    <div class="webscrape">
      <div class="link">
        <h4 class="one">Try it out</h4>

        <div class="scraper-wrapper" (click)="flipCard()">
          <div class="card">
            <div class="card-face card-front">
              <img src="/app.JPG" alt="Front View" class="scraper" />
            </div>
            <div class="card-face card-back">
              
              <img src="/qr_code.JPG" alt="Back View" class="scraper-back" />
            </div>
          </div>
        </div>
      </div>

      <div class="description">
        <h4 class="two">Breakdown</h4>
        <ul>
          <li>React Native + TypeScript – For building the cross-platform mobile interface using typed components</li>
          <li>Expo – To streamline development, testing, and QR-based deployment without native build complexity</li>
          <li>AsyncStorage – For persisting to-do data locally on the user's device</li>
        </ul>
      </div>

      <div class="utils">
        <h4 class="three">Utilities</h4>
        <div class="wrap">
          <div class="pad">
            <img src="/react.png" class="butn" />
            <img src="/ast.png" class="butn" />
          </div>
          <div class="pad">
            <img src="/expo.png" class="butn butnn" />
            <img src="/openb.png" class="butn inv" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


