<div class="container">

    <div class="wrapper__body1">
        

        <h1>   Entrepreneurship </h1>
            <div class="smallwrap">
                <img class="img__body1"  src="dummyyyy.png" alt="">
                <p class="line"> </p>
                <strong> <a target="blank" class="degen" href="https://magiceden.us/marketplace/degen_dummiess_"> Degen Dummies  </a>  </strong>
             </div>
        <div class="content__wrapper over">



             <div class="inside">
               
                <p class="description__body1">
                    <strong class="subhead"> Position</strong> <br> 
                    <strong> <a target="blank" class="degenn" href="https://magiceden.us/marketplace/degen_dummiess_"> Degen Dummies  </a>  </strong>
                   <strong class="green">Founded/Sold a NFT project </strong> 
      
                   </p>
                  <ul class="description__body2"> 
                    <div>
                        <strong class="subhead2">   Takeaways </strong> 
                        <li class="li_bodyy"> Sold out over 4000 NFTs,leading to a secondary market value of over $100 (gross profit of $40,000)</li> 
                        <li class="li_bodyy"> Twitter and Discord community of over 3000 people.   </li>  
                        <li class="li_bodyy"> Put team of 7 onto payroll</li>  

                    </div>
                    
                    </ul>
                        <div class="date"> 
                            <p> <strong class="datee"> From:  </strong>  June/01/21 </p>
                            <p>  <strong class="datee"> To: </strong>  Oct/03/22</p>    
                        </div>    
                         

              </div>
    



        </div>

       



       
       
        


    </div>

</div>




