<div class="container">

    <div class="wrapper__body1">
        
        <h2 class="head">  Tradition Jobs  </h2>

        <div  class="outside">

        

                <div class="smallwrap m ">
                    <img class="img__body1" src="jackson2.png" alt="">
                    <p class="line"> </p>
                    <strong> <a target="blank" class="jackson " href="https://www.jackson.com/?gad_source=1#mlp-suite"> Jackson National Life  </a>  </strong>

                </div>


         <div class="content__wrapper beg above">


                <div class="inside">
                  
                    <p class="description__body1"> 
                        <strong class="subhead"> Position</strong> <br>
                        <strong> <a target="blank" class="jacksonn " href="https://www.jackson.com/?gad_source=1#mlp-suite"> Jackson National Life:  </a>  </strong>
                         <strong class="green">AVD Support Team</strong>
                       
                    </p>
                    <ul class="description__body2"> 

                        <div>
                            <strong class="subhead2">   Takeaways </strong> 
                            <li class="li_bodyy">
                                Worked with LAAS side of Azure cloud service
                            </li> 
                            <li class="li_bodyy">
                                Troubleshot complex Azure Jira Tickets 
                            </li>


                        </div>

            
                    </ul>
                    
                    <div class="date"> 
                        <p> <strong class="datee"> From:  </strong>  Feb/04/24  </p>
                        <p>  <strong class="datee">  To: </strong>  Now  </p>    
                    </div>    
                    
                </div>  


        </div>


        <div class="content__wrapper beg  ">


                <div class="inside">
                  
                    <p class="description__body1"> 
                        <strong class="subhead"> Position</strong> <br>
                        <strong> <a target="blank" class="jacksonn " href="https://www.jackson.com/?gad_source=1#mlp-suite"> Jackson National Life:  </a>  </strong>
                         <strong class="green"> Strategic Support Assistant</strong>. 
                       
                    </p>
                    <ul class="description__body2"> 

                        <div>
                            <strong class="subhead2">   Takeaways </strong> 
                            <li class="li_bodyy">
                                OPS: Data entry, indexing, new buisness dektop 
                            </li>
                            <li class="li_bodyy">
                                 Proper communicaton via microsoft Outlook, Teams
                            </li>

                        </div>

            
                    </ul>
                    
                    <div class="date"> 
                        <p> <strong class="datee"> From:  </strong>  Dec/02/24  </p>
                        <p>  <strong class="datee">  To: </strong>  Feb/4/24  </p>    
                    </div>    
                    
                </div>  


        </div>



            <div class="smallwrap m2">
                <img class="img__body1" src="bezz.png" alt="">
                <p class="line"> </p>
                <strong> <a class="bells" target="blank" href="https://thebellspizza.com/">  Bells Greek Pizza  </a>      </strong>
            </div>

        <div class="content__wrapper above ">



            <div class="inside">
               
                <p class="description__body1"> 
                    <strong class="subhead"> Position</strong> <br>
                    <strong> <a class="bellss" target="blank" href="https://thebellspizza.com/">  Bells Greek Pizza </a>    
                      </strong>  <strong class="green">Delivery driver / kitchen worker </strong>
                     </p>
                   <ul class="description__body2"> 

                    <div>
                        <strong class="subhead2">   Takeaways </strong>  
                        <li class="li_bodyy">  Built strong communications / listening skills  </li> 
                        <li class="li_bodyy"> Learned to work as a team  </li> 
                    </div>
                    
                   </ul>
                      <div class="date"> 
                        <p> <strong class="datee"> From:  </strong>  Aug/01/20 </p>
                        <p>  <strong class="datee"> To: </strong>   Nov/1/24</p>    
                    </div>    
            </div>
       
        


        </div>

</div>



