<div class="container">

    <div class="wrapper__body1">
        

        <div class="content__wrapper beg under">


                <div class="smallwrap ">
                    <img class="img__body1" src="jackson2.png" alt="">
                    <p class="line"> </p>
                    <strong> <a target="blank" class="jackson " href="https://www.jackson.com/?gad_source=1#mlp-suite"> Jackson National Life  </a>  </strong>

                </div>


                <div class="inside">
                  
                    <p class="description__body1"> 
                        <strong class="subhead"> Role</strong> <br>
                        <strong> <a target="blank" class="jacksonn " href="https://www.jackson.com/?gad_source=1#mlp-suite"> Jackson National Life:  </a>  </strong>
                        Worked on the information and tech side of Jackson as a <strong class="green"> strategic support assistant</strong>. 
                       
                    </p>
                    <ul class="description__body2"> 

                        <div>
                            <strong class="subhead2">   Takeaways </strong> 
                            <li class="li_bodyy">
                                First job in the corporate world 
                            </li> 
                            <li class="li_bodyy">
                                learned Data entry and indexing 
                            </li>
                            <li class="li_bodyy">
                                 Proper communicaton via microsoft Outlook, Teams
                            </li>

                        </div>

            
                    </ul>
                    
                    <div class="date"> 
                        <p> <strong class="datee"> From:  </strong>  Dec/02/24  </p>
                        <p>  <strong class="datee">  To: </strong>  Now  </p>    
                    </div>    
                    
                </div>  
                
               
               
        
        

        </div>

        <div class="content__wrapper under">

            <div class="smallwrap">
                <img class="img__body1"  src="dummyyyy.png" alt="">
                <p class="line"> </p>
                <strong> <a target="blank" class="degen" href="https://magiceden.us/marketplace/degen_dummiess_"> Degen Dummies  </a>  </strong>
             </div>

             <div class="inside">
               
                <p class="description__body1">
                    <strong class="subhead"> Role</strong> <br> 
                    <strong> <a target="blank" class="degenn" href="https://magiceden.us/marketplace/degen_dummiess_"> Degen Dummies  </a>  </strong>
                   Founded/Sold a NFT project. Sold out over 4000 NFTs, leading to a secondary market value of over $100. With royalties creating a gross<strong class="green"> profit of over $40,000 </strong>. Built a Twitter and Discord community of over 3000 people. While building a team of over 7 people, putting them all on payroll. 
      
                   </p>
                  <ul class="description__body2"> 
                    <div>
                        <strong class="subhead2">   Takeaways </strong> 
                        <li class="li_bodyy"> First real start up </li> 
                        <li class="li_bodyy"> Overcame countless encouters with adversity   </li>  
         

                    </div>
                    
                    </ul>
                        <div class="date"> 
                            <p> <strong class="datee"> From:  </strong>  June/01/21 </p>
                            <p>  <strong class="datee"> To: </strong>  Oct/03/22</p>    
                        </div>    
                         

              </div>
    



        </div>

        <div class="content__wrapper ">

            <div class="smallwrap">
                <img class="img__body1" src="bezz.png" alt="">
                <p class="line"> </p>
                <strong> <a class="bells" target="blank" href="https://thebellspizza.com/">  Bells Greek Pizza  </a>      </strong>
            </div>


            <div class="inside">
               
                <p class="description__body1"> 
                    <strong class="subhead"> Role</strong> <br>
                    <strong> <a class="bellss" target="blank" href="https://thebellspizza.com/">  Bells Greek Pizza </a>    
                      </strong> Worked as a <strong class="green">delivery driver / kitchen worker </strong>. 
                    I did everything from cleaning dishes, pans, counter tops, sweaping floors to 
                    taking orders, making food and delivering food. 
                     </p>
                   <ul class="description__body2"> 

                    <div>
                        <strong class="subhead2">   Takeaways </strong>  
                        <li class="li_bodyy">  Built strong communications / listening skills  </li> 
                        <li class="li_bodyy"> Learned to work as a team  </li> 
                        <li class="li_bodyy"> Grew effective customer service skills.  </li>

                    </div>
                    
                   </ul>
                      <div class="date"> 
                        <p> <strong class="datee"> From:  </strong>  Aug/01/20 </p>
                        <p>  <strong class="datee"> To: </strong>   Nov/1/24</p>    
                    </div>    
            </div>
       
        


        </div>

</div>



