<div class="container">

    <div class="wrapper__body1">
        <h1 class="AI"> Working With AI</h1>


        <h1 class="header"> Image Generator </h1>  
        <div class="webscrape">

               <div class="link">
                    <h4 class="one"> Try it out</h4>
                    
                         <div  class="scraper-wrapper">
                               <a href="https://ai-image-mu.vercel.app/" target="_blank">
                          <img src="/ai.png" alt="AI Image Tool" class="scraper">
                          </a>
                         </div>

                     
               </div>

            <div class="description">
               <h4 class="two"> Breakdown</h4>
                 <ul>
                    <li> Leveraged OpenAI’s API key to generate images from user prompts
                     </li> 
                     <li>converting base64 image data into downloadable, styled cards using JavaScript and CSS  </li>
                     <li>Used Upstash Redis with token-based tracking to limit users to 1 image generation per week in a Vercel-hosted AI tool.  </li>
               </ul>
                

             </div>

            <div class="utils">
               <h4 class="three"> Utilities</h4>
               <div class="wrap">
                    <div class="pad">
                          <img src="/htmlb.png"  class="butn">
                         <img src="/cssb.png"  class="butn">
                    </div>
                    <div class="pad">
                      <img src="/jsb.png"  class="butn">
                      <img src="/openb.png"  class="butn">
                    </div>
                    <div class="pad">
                      <img src="/red.png"  class="butn ">
                      <img src="/fast.png"  class="butn inv">
                    </div>

                    <div class="pad">
                      <img src="/up.png"  class="butn ">
                      <img src="/fast.png"  class="butn inv">
                    </div>

          
               </div>
            
             </div>
 
            
        </div>



         <h1 class="header"> Web Scraper </h1> 
         <div class="webscrape">

                <div class="link">
                    <h4 class="one"> Try it out</h4>
                    <div class="scraper-wrapper">
                         <a href="https://webscraper-evan-wood-jgldslyowwjrjgsejlrqto.streamlit.app/" target="_blank">
                              <img src="/web.png" alt="AI Image Tool" class="scraper">
                         </a>
                    </div>


                </div>

            <div class="description">
               <h4 class="two"> Breakdown</h4>

               <ul> 
                    <li>Built a web scraper using Streamlit and BeautifulSoup to extract website content</li>
                    <li>Used OpenAI’s API to analyze and interpret the scraped data</li>
                    <li>Developed a more robust local version leveraging Ollama, Selenium, and Bright Data to run LLMs on content scraped via residential proxies</li>
                    <li class="red">public version can only scrape data from non-CAPTCHA websites ( my website is good example to showcase scraper) </li>

               </ul>
           
             </div>

            <div class="utils">
               <h4 class="three"> Utilities</h4>
               <div class="wrap">
                    <div class="pad">
                          <img src="/soupb.png"  class="butnn">
                         <img src="/pythonb.png"  class="butn">
                    </div>
                    <div class="pad">
                      <img src="/streamb.png"  class="butn">
                      <img src="/openb.png"  class="butn">
                    </div>
                                        <div class="pad">
                      <img src="/seb.png"  class="butn">
                      <img src="/ollamab.png"  class="butnn">
                    </div>
                    <div class="pad">
                      <img src="/newb.png"  class="butn">
                      <img src="/newb.png"  class="butn inv">
                    </div>

          
               </div>
             </div>
 
            
        </div>


        <h1 class="header"> Sign Language Object Detection</h1> 
         <div class="webscrape">
                    
                <div class="link">
                  <h4 class="one mar"> Take a look</h4>  
               <div class="swiper-wrapper-scaled">
                    <swiper-container loop="true" navigation="true">
                     <swiper-slide ><img src="/yes_object.JPG" alt="Yes" /></swiper-slide>
                     <swiper-slide><img src="/thank_object.JPG" alt="Thank" /></swiper-slide>
                     <swiper-slide><img src="/no_object.JPG" alt="No" /></swiper-slide>
                     <swiper-slide><img src="/love_object.JPG" alt="Love" /></swiper-slide>
                    </swiper-container>
               </div>
                </div>

            <div class="description">
               <h4 class="two"> Breakdown</h4>
               <ul>
                     <li> Built a real-time sign language recognition model using TensorFlow and OpenCV</li>
                 <li> Trained a custom object detection model to classify gestures like "yes", "no", and "thank you"</li>
                 <li> Deployed model in a virtual Python environment with live webcam detection overlay   </li>
               </ul>
                

             </div>

            <div class="utils">
               <h4 class="three"> Utilities</h4>
               <div class="wrap">
                    <div class="pad">
                          <img src="/tenserb.png"  class="butn">
                         <img src="/pythonb.png"  class="butn">
                    </div>
                    <div class="pad">
                      <img src="/cv.png"  class="butn">
                      <img src="/openb.png"  class="butn inv">
                    </div>

          
               </div>
             </div>
 
            
        </div>



        
    </div>



 

</div>



