<div class="container">

    <div class="wrapper__body1">
        

        <div class="content__wrapper beg">


                <div class="smallwrap ">
                    <img class="img__body1" src="glogo.png" alt="">
                    <p class="line"> </p>
                    <strong> <a target="blank" class="jackson " href="https://geekedofficial.netlify.app/#Home"> Geeked  </a>  </strong>

                </div>


                <div class="inside">
                  
                    <p class="description__body1"> 
                        <strong class="subhead"> Role</strong> <br>

                        Founded a <strong class="green"> freelance website building company  </strong>. My role within this company deals with everything from business / costomer service side to actually building the customers website. 
                       
                    </p>
                    <ul class="description__body2"> 
                        <div>

                            <strong class="subhead2">   Takeaways </strong> 
                            <li class="li_body">
                                learned HTML, CSS, JavaScript, Routing, Angular
                            </li> 
                            <li class="li_body">
                                Learned how to optimize website performance
                            </li>
               
                            <li class="li_body">
                                Learned how to build reactive websites compatible for all devices
                            </li>
                        </div>
                       
           
                    </ul>
                    
                    <div class="date"> 
                        <p> <strong class="datee"> From:  </strong>  June/01/24  </p>
                        <p>  <strong class="datee"> To: </strong>  Now  </p>    
                    </div>    
                    
                </div>  
                
               
               
        
        

        </div>



 

</div>



