<div class="container">

    <div class="wrapper__body1">
                <h1 class="AI"> Building Websites</h1>

        <h1 class="header"> Freelance Software Development </h1>  
        <div class="webscrape">

               <div class="link">
                    <h4 class="one"> Try it out</h4>
                    
                         <div  class="scraper-wrapper">
                               <a href="https://geekedofficial.netlify.app/" target="_blank">
                          <img src="/gek.JPG" alt="AI Image Tool" class="scraper">
                          </a>
                         </div>

                     
               </div>

            <div class="description">
               <h4 class="two"> Breakdown</h4>
                 <ul>
                    <li> Built Geeked, a responsive freelance portfolio using Angular, TypeScript, HTML, and CSS
                     </li> 
                     <li>Integrated Swiper.js for interactive project carousels across all screen sizes  </li>
                     <li> Implemented Angular routing for seamless multi-page navigation on both desktop and mobile devices</li>
               </ul>
                

             </div>

            <div class="utils">
               <h4 class="three"> Utilities</h4>
               <div class="wrap">
                    <div class="pad">
                          <img src="/ang.png"  class="butn">
                         <img src="/cssb.png"  class="butn">
                    </div>
                    <div class="pad">
                      <img src="/jsb.png"  class="butn">
                      <img src="/htmlb.png"  class="butn">
                    </div>
                    <div class="pad">
                      <img src="/swipe.png"  class="butn">
                      <img src="/htmlb.png"  class="butn inv">
                    </div>
                    <div class="pad">
                      <img src="/ts.png"  class="butn">
                      <img src="/openb.png"  class="butn inv">
                    </div>

          
               </div>
            
             </div>
 
            
        </div>

                <h1 class="header"> Personal Website </h1>  
        <div class="webscrape">

               <div class="link">
                    <h4 class="one">Your already here!</h4>
                    
                         <div  class="scraper-wrapper">
                               <a href="https://evan-wood-website.vercel.app/Home" target="_blank">
                          <img src="/websitei.JPG" alt="AI Image Tool" class="scraper">
                          </a>
                         </div>

                     
               </div>

            <div class="description">
               <h4 class="two"> Breakdown</h4>
                 <ul>
                    <li> Built and deployed a fully responsive personal portfolio website using Terraform and AWS S3, showcasing work experience, featured projects, and about information
                     </li> 
                    
                     
                      <li>Showcased skills, projects, and contact info using a clean, component-based UI with HTML, CSS, and Angular  </li>
                        <li>Implemented responsive design and modern layout techniques to ensure usability across all screen sizes</li>
               </ul>
             
                

             </div>

            <div class="utils">
               <h4 class="three"> Utilities</h4>
               <div class="wrap">
                    <div class="pad">
                          <img src="/ang.png"  class="butn">
                         <img src="/cssb.png"  class="butn">
                    </div>
                    <div class="pad">
                      <img src="/jsb.png"  class="butn">
                      <img src="/htmlb.png"  class="butn">
                    </div>
                    <div class="pad">
                      <img src="/swipe.png"  class="butn">
                      <img src="/htmlb.png"  class="butn inv">
                    </div>
                    <div class="pad">
                      <img src="/ts.png"  class="butn">
                      <img src="/openb.png"  class="butn inv">
                    </div>



          
               </div>
            
             </div>
 
            
        </div>



        
    </div>



 

</div>



