


    <button class="bars">
        <i onclick="exit()" class="fa-solid fa-bars"></i>
        <i onclick="exit()" class="fa-solid fa-x"></i>
    </button>
    
    
    <div class="bars2">
    
        <a onclick="route()"  class="a nav-link" routerLink="/Home" > <i class="fa-solid fa-house"></i> Home</a>
        <a onclick="route()"  class="a nav-link" routerLink="/Work" > <i class="fa-solid fa-business-time"></i> Work</a>
        <a onclick="route()" class="a nav-link" routerLink="/Projects"> <i class="fa-solid fa-box-open"></i> Projects </a>
        <a onclick="route()" class="a nav-link" routerLink="/Cloud"> <i class="fa-solid fa-cloud"></i> Cloud </a>
        <button onclick="darkmode()" ><i class="sun fa-regular fa-sun"> Light Mode </i><i class="moon fa-solid fa-moon"> Dark Mode </i></button>
    
    </div>



